
# Model Weights & Artifacts (Stored externally in Drive/Kaggle)
*.safetensors
*.bin
*.pt
adapter_config.json
processor_config.json
tokenizer.json
tokenizer_config.json
checkpoints/

# Raw Data & Audio Slices
*.mp3
*.wav
*.cha
*.tsv
*.csv
temp_*
